<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap">
    {{ $baseStyles := slice
      (resources.Get "css/tokens.css")
      (resources.Get "css/base.css")
      (resources.Get "css/components/navigation.css")
      (resources.Get "css/components/footer.css")
      (resources.Get "css/components.css")
      (resources.Get "css/pages/content.css")
    }}
    {{ $pageStyles := slice }}
    {{ if eq .Section "projects" }}
      {{ $pageStyles = $pageStyles | append (resources.Get "css/pages/projects.css") }}
    {{ end }}
    {{ if eq .Layout "new-partners" }}
      {{ $pageStyles = $pageStyles | append (resources.Get "css/pages/new-partners.css") }}
    {{ end }}
    {{ if eq .Section "about" }}
      {{ $pageStyles = $pageStyles | append (resources.Get "css/pages/about.css") }}
    {{ end }}
    {{ if eq .Layout "faq" }}
      {{ $pageStyles = $pageStyles | append (resources.Get "css/pages/faq.css") }}
    {{ end }}
    {{ if .IsHome }}
      {{ $pageStyles = $pageStyles | append (resources.Get "css/pages/home.css") }}
    {{ end }}
    {{ $fingerprintAssets := .Site.Params.fingerprintAssets | default false }}
    {{ if not $fingerprintAssets }}
      {{ range $baseStyles }}
        <link rel="stylesheet" href="{{ .RelPermalink }}">
      {{ end }}
      {{ range $pageStyles }}
        <link rel="stylesheet" href="{{ .RelPermalink }}">
      {{ end }}
    {{ else }}
      {{ $bundle := $baseStyles | resources.Concat "css/site.css" | fingerprint }}
      <link rel="stylesheet" href="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}">
      {{ range $pageStyles }}
        {{ $style := . | fingerprint }}
        <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
      {{ end }}
    {{ end }}
    {{ $js := resources.Get "js/main.js" | minify }}
    {{ if $fingerprintAssets }}
      {{ $js = $js | fingerprint }}
      <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
    {{ else }}
      <script src="{{ $js.RelPermalink }}" defer></script>
    {{ end }}
  </head>
  {{ $bodyClasses := slice }}
  {{ if .IsHome }}
    {{ $bodyClasses = $bodyClasses | append "page-home" }}
  {{ end }}
  {{ with .Params.body_class }}
    {{ $bodyClasses = $bodyClasses | append . }}
  {{ end }}
  <body{{ with delimit $bodyClasses " " }} class="{{ . }}"{{ end }}>
    {{ partial "header.html" . }}
    <main id="main-content">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "page-controller.html" . }}
    {{ partial "footer.html" . }}
  </body>
</html>
