<div class="page-controller" aria-label="External links">
  <div class="page-controller__links">
    <a class="page-controller__link" href="https://github.com/int-brain-lab/" target="_blank" rel="noreferrer" aria-label="IBL Core GitHub">
      <img src="{{ (resources.Get "svg/icon_github.svg").RelPermalink }}" alt="" width="27" height="30">
    </a>
    <a class="page-controller__link" href="#" aria-label="IBL Core bot">
      <img src="{{ (resources.Get "svg/icon_bot.svg").RelPermalink }}" alt="" width="31" height="31">
    </a>
  </div>
</div>
